<!DOCTYPE html>
<html>
<head>

<title>Admin Login</title>

<style>

body{
background:linear-gradient(120deg,#ff9966,#ff5e62);
text-align:center;
font-family:Arial;
padding:100px;
}

.card{
background:white;
padding:30px;
width:300px;
margin:auto;
border-radius:10px;
}

input{
width:90%;
padding:10px;
margin:10px;
}

button{
padding:10px;
background:#3498db;
color:white;
border:none;
}

</style>

</head>

<body>

<div class="card">

<h2>Admin Login</h2>

<form method="post">

<input name="username" placeholder="Username">
<input name="password" placeholder="Password">

<button>Login</button>

</form>

</div>

</body>
</html>